.margin{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

aside {
  width: 200px;
  height: 200px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

