.margin{
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

.scroll{
  height: 550px;
  overflow-y: scroll;
}


.pb-video-container {
  border: 2px solid rgb(58, 58, 58);
  padding-top: 20px;
  background: white;
}

.pb-video {
  border: 1px solid rgb(58, 58, 58);
  padding: 5px;
}

  .pb-video:hover {
      background: white;
  }

.pb-video-frame {
  transition: width 2s, height 2s;
}

  .pb-video-frame:hover {
      height: 300px;
  }

.pb-row {
  margin-bottom: 10px;
}

body {
  font-family: 'Teko';
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
}

